/* Test Commend */
* {
  margin: 0px;
}
.thumbnail-image {
  height: 140px;
  width: 140px;
  cursor: pointer;
}
.big-image {
  height: 100vh;
  width: 100vw;
}

/* Tested with the idea of using variables and calc() to size the images dynamically while keeping the original aspect ratio however there was too much blank space and it didnt look good, and dont have enough time to flesh this idea out. */
/* because images are in a 4/3 aspect ratio, to perserve it . */
/* .portrait {
  --height: 100vh;
  height: var(--height);
  width: calc(var(--height) * (3 / 4));
  cursor: pointer;
}
.landscape {
  --hight: 100vh;
  width: calc(var(--hight) * (4 / 3));
  height: var(--hight);
  cursor: pointer;
} */

#thumbnail-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 0.5vh;
  left: 0px; /* Due to being unable to center the thumbnail container I decided to place it on the left hand side of the screen*/
  overflow: scroll;
  width: 500px;
  height: 150px;
  background-color: #818584;
  /* I have no idea why this combination of flex properties alight the items HORIZONTALLY */
  flex-direction: column;
  align-items: center;
}
/* Unused feature for a button that hides/shows the thumbnail container 
#thumbnail-button {
  left: 45%;
  top: 170px;
  z-index: 2;
} */

#main-image-container {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  justify-content: center;
}
#right-button {
  right: 2vw;
}
#left-button {
  left: 2vw;
}
button:hover {
  cursor: pointer;
}
button {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  background-color: gray;
  color: black;
  border-radius: 25px;
}
@media (max-width: 600px) {
  /* For small phones */
  #thumbnail-container {
    width: 250px;
    height: 90px;
  }
  .thumbnail-image {
    width: 80px;
    height: 80px;
  }
}
/* @media (min-width: 900px) {
  #thumbnail-container {
    width: 320px;
    height: 105px;
  }
  .thumbnail-image {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 1200px) {

  #thumbnail-container {
    width: 400px;
    height: 130px;
  }
  .thumbnail-image {
    width: 125px;
    height: 125px;
  }
} */
