/* Test Commend */
* {
  margin: 0px;
}
.thumbnail-image {
  height: 150px;
  width: 150px;
  /* padding: 1px; */
  cursor: pointer;
}
.big-image {
  height: 100vh;
  width: 100vw;
}
/* .portrait {
  height: 200px;
  width: 200px;
  cursor: pointer;
} */
/* .landscape {
  height: 200px;
  width: 200px;
  cursor: pointer;
} */

#thumbnail-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  left: 30%;
  top: 2vh;
  overflow: scroll;
  width: 500px;
  height: 150px;
}

#main-image-container {
  height: 100vh;
  width: 100vw;
  background-color: gray;
}
#right-button {
  right: 2vw;
}
#left-button {
  left: 2vw;
}
button:hover {
  cursor: pointer;
}
button {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  background-color: gray;
  color: black;
  border-radius: 25px;
}
